<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="okrys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings>
        <okrys.Properties.Settings>
              <setting name="SQLServerName" serializeAs="String">
                    <value>ymgw-pc\OBCINSTANCE3X</value>
              </setting>
              <setting name="SQLLogin" serializeAs="String">
                    <value>ocrapp</value>
              </setting>
              <setting name="SQLPass" serializeAs="String">
                    <value>ocrpass</value>
              </setting>
              <setting name="mdbPath" serializeAs="String">
                    <value>c:\okrys\MDB\</value>
              </setting>
              <setting name="SQLDataBase" serializeAs="String">
                    <value>obc3sresource</value>
              </setting>
              <setting name="gengou" serializeAs="String">
                    <value>20</value>
              </setting>
              <setting name="RekiHosei" serializeAs="String">
                    <value>2000</value>
              </setting>
              <setting name="sxlsPath" serializeAs="String">
                    <value>c:\okrys\xls\OCR勤怠申請書.xls</value>
              </setting>
              <setting name="pxlsPath" serializeAs="String">
                    <value>c:\okrys\xls\partRep.xls</value>
              </setting>
              <setting name="wxlsPath" serializeAs="String">
                    <value>c:\okrys\xls\workBook.xls</value>
              </setting>
              <setting name="wrHands_Prg" serializeAs="String">
                    <value>FrpMain.exe</value>
              </setting>
              <setting name="wrHands_Job_Image" serializeAs="String">
                    <value>大蔵屋商事勤怠申請書画像</value>
              </setting>
              <setting name="wrHands_Path" serializeAs="String">
                    <value>c:\Program Files (x86)\FRP</value>
              </setting>
              <setting name="wrHands_Job_Scan" serializeAs="String">
                    <value>大蔵屋商事勤怠申請書スキャン</value>
              </setting>
              <setting name="instPath" serializeAs="String">
                    <value>c:\okrys\EXE\</value>
              </setting>
              <setting name="Image_WinoutPath" serializeAs="String">
                    <value>c:\okrys\READ\</value>
              </setting>
              <setting name="Scan_WinoutPath" serializeAs="String">
                    <value>c:\okrys\SCANREAD\</value>
              </setting>
              <setting name="winReaderOutFile" serializeAs="String">
                    <value>winout.csv</value>
              </setting>
              <setting name="DataPath" serializeAs="String">
                    <value>c:\okrys\DATA\</value>
              </setting>
              <setting name="ImagePath" serializeAs="String">
                    <value>c:\okrys\IMAGE\</value>
              </setting>
              <setting name="tifPath" serializeAs="String">
                    <value>c:\okrys\TIF\</value>
              </setting>
              <setting name="mdbOlePath" serializeAs="String">
                    <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\okrys\MDB\okrys.mdb</value>
              </setting>
              <setting name="mdbPathTemp" serializeAs="String">
                    <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\okrys\MDB\okrys_Temp.mdb</value>
              </setting>
              <setting name="ShukkinCode" serializeAs="String">
                    <value>001</value>
              </setting>
              <setting name="KyuukeiCode" serializeAs="String">
                    <value>012</value>
              </setting>
              <setting name="sqlUID" serializeAs="String">
                    <value>fkdl</value>
              </setting>
              <setting name="sqlPWD" serializeAs="String">
                    <value>sqlPass</value>
              </setting>
        </okrys.Properties.Settings>
    </applicationSettings>
</configuration>